---
import fs from 'node:fs/promises';
import Link from '../components/Link.astro';
import BaseHead from '../components/BaseHead.astro';
import LatestBlogsTable from '../components/LatestBlogsTable.astro';
import PastWorkTable from '../components/PastWorkTable.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BlurDownImage from '../components/BlurDownImage.astro';
import { getPlaiceholder } from 'plaiceholder';

async function getBlurImg(src: string) {
	const buffer = await fs.readFile(new URL(import.meta.env.VERCEL ? `../..${src}` : `../../public/${src}`, import.meta.url));

	return await getPlaiceholder(buffer);
}

const heroImgSrc = '/quebin_profile_2.png';

const heroBlurImgSrc = await getBlurImg(heroImgSrc);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="pt-32">
      <h1 class="text-xl text-balance animate-appear" style="--stagger: 1">
        <span class="font-medium">
          Kevin Gonzalez.
        </span>
        <span class="text-xl font-normal text-slate-600 leading-6">
          Working as software engineer at
          <Link 
            href="https://www.capgemini.com/"
            target="_blank">
              Capgemini&spades;
          </Link>
          <br>
          crafting interfaces that excel in both form and function
        </span>
      </h1>
        <figure class="my-6 animate-appear" style="--stagger: 3">
          <BlurDownImage
            placeholder={heroBlurImgSrc.css}
            height={heroBlurImgSrc.metadata.height}
            width={heroBlurImgSrc.metadata.width}
            src={heroImgSrc}
            alt="A self portrait of the site's owner (Kevin), painted digitally in a traditional style"
          />
          <figcaption class="text-sm text-slate-600 mt-2">self-portrait, painted by yours truly</figcaption>
        </figure>
      <div class="grid sm:grid-cols-2 gap-x-20 gap-y-12 items-start">
        <PastWorkTable title="Past work" stagger={4} />
        <LatestBlogsTable title="Writing" stagger={4} />
      </div>
      <h2 class="text-lg font-medium animate-appear" style="--stagger: 5">Now</h2>
      <p class="animate-appear" style="--stagger: 6">
        Leaning into the foundations of web systems, from networking intricacies to
        the browser inner workings. Guided by Feynman's wisdom: "What I cannot create, I do not
        understand.", each line of code is a step towards deeper comprehension.
      </p>

      <h2 class="text-lg font-medium animate-appear my-6" style="--stagger: 7">Connect</h2>
      <div
        class="flex gap-3 text-sm animate-appear"
        style="--stagger: 8"
      >
        <Link href="https://www.x.com/hekatx">Twitter</Link>
        <Link href="https://www.github.com/hekatx">Github</Link>
      </div>
    </main>
    <footer class="w-[640px] border-t flex items-center justify-between mx-auto mt-12 py-3 text-xs animate-appear text-slate-600" style="--stagger: 7">
      <span class="block">
        What I cannot create, I do not understand
      </span>
      <time>2024</time>
    </footer>
	</body>
</html>
