---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import LatestBlogsTable from '../components/LatestBlogsTable.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BlurDownImage from '../components/BlurDownImage.astro';

const heroImgSrc =
	'https://cdn.jsdelivr.net/gh/joe-bell/blur-down@3d7b9d2a6e3d2d5d2bffc8dffaf095bef7d3c749/examples/03-blur-comparison/src/assets/blur.jpg';

const heroBlurImgSrc = {
	alt: "Damon Albarn of the band 'Blur'",
	src: heroImgSrc,
	height: 1338,
	width: 2373,
	placeholder: {
		backgroundImage:
			'linear-gradient(90deg, rgb(62,38,99) 25%,rgb(48,23,55) 25% 50%,rgb(60,32,51) 50% 75%,rgb(12,5,27) 75% 100%),linear-gradient(90deg, rgb(46,24,75) 25%,rgb(49,23,40) 25% 50%,rgb(41,20,25) 50% 75%,rgb(11,7,17) 75% 100%)',
		backgroundPosition: '0 0 ,0 100%',
		backgroundSize: '100% 50%',
		backgroundRepeat: 'no-repeat',
	},
};
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
    <Header />
		<main>
      <div class="grid sm:grid-cols-2 grid-cols-1 gap-x-6 py-6 gap-y-6">
        <div class="row-start-2 row-end-3 sm:row-start-1 sm:row-end-2 sm:row-span-auto">
          <p class="animate-appear" style="--stagger: 0;">
            Currently working as Software Engineer at
            <a class="link" href="https://www.capgemini.com/"
            target="_blank">Capgemini</a>
          </p>
          <p class="animate-appear" style="--stagger: 1;">
            My work is focused on crafting interfaces that excel in both form
            and function
          </p>
          <p class="animate-appear" style="--stagger: 2;">
            When not at work, I enjoy my time painting, reading and sometimes
            I like writing about my experience programming and useful stuff I've learned 
          </p>
        </div>
        <figure>
          <BlurDownImage
            placeholder={heroBlurImgSrc.placeholder}
            height={heroBlurImgSrc.height}
            width={heroBlurImgSrc.width}
            src={heroImgSrc}
            alt="A self portrait of the site's owner (Kevin), painted digitally in a traditional style"
          />
          <figcaption class="text-sm text-slate-600 mt-2">Latest self-portrait</figcaption>
        </figure>
      </div>
      <LatestBlogsTable  />
    </main>
	</body>
</html>
