---
import { getCollection } from 'astro:content';
import { INTL_SHORT } from '../consts';

const allPosts = await getCollection('blog');

const getDate = (post) => post.data.pubDate.getFullYear();
const grouped = Object.groupBy(allPosts, ({ data }) => data.pubDate.getFullYear());
const years = Object.keys(grouped).sort((yearA, yearB) => yearB - yearA);
---
<div class="group">
  {years.map(year => {
    const posts = grouped[year];
    return (
      <table class="blog-table">
        <thead>
          <tr>
            <th colspan="3">{year}</th>
          </tr>
        </thead>
        <tbody>
          {posts.map(post => (
            <tr>
              <td class="w-[20ch]">
                <a href={`/blog/${post.slug}`}>
                  {post.data.title}
                </a>
              </td>
              <td>
                <a href={`/blog/${post.slug}`}>
                  {post.data.description}
                </a>
              </td>
              <td class="text-end">
                <a href={`/blog/${post.slug}`}>
                  {INTL_SHORT.format(post.data.pubDate)}
                </a>
              </td>
            </tr>
          ))}
        </tbody>
      </table>
    );
  })}
</div>
