---
const props = Astro.props;
const now = new Date();
const dateFormatter = new Intl.DateTimeFormat('en-US', {
	hourCycle: 'h24',
	dateStyle: 'medium',
	timeZone: props.timezone,
});
const offset = Intl.DateTimeFormat('ia', {
	timeZoneName: 'short',
	timeZone: props.timezone,
})
	?.formatToParts()
	?.find((i) => i.type === 'timeZoneName')?.value;

const timeFormatter = new Intl.DateTimeFormat('en-US', {
	hourCycle: 'h24',
	timeStyle: 'short',
	timeZone: props.timezone,
});

const date = dateFormatter.format(now);
const time = timeFormatter.format(now);
const getId = (id) => 'timezone-' + id + props.caption;
---
<figure>
  <article class="border py-3 px-4 rounded-md text-sm flex flex-col items-start justify-between gap-1">
    <time datetime={date + time} id={getId("time")}>
      {time} 
    </time>
    <time class="block" id={getId("date")}>{date}</time>
    <h1 class="text-sm mb-0" id={getId("name")}>
      {props.timezone}
    </h1>
    <span class="block" id={getId("offset")}>{offset}<span>
  </article>
  <figcaption class="text-xs text-slate-700">
    {props.caption}
  </figcaption>
</figure>

<script define:vars={{ hasServerSideTimezone: props.timezone !== undefined, cap: props.caption, serverTimezone: props.timezone }}>
  const getId = (id) => '#timezone-' + id + cap;
  const timezone = hasServerSideTimezone ? serverTimezone : Intl.DateTimeFormat().resolvedOptions().timeZone;

  if (!hasServerSideTimezone) {
    const offset = Intl.DateTimeFormat('ia', {
      timeZoneName: "short",
      timeZone: timezone,
    })
      .formatToParts()
      .find((i) => i.type === "timeZoneName").value;

    const timeFormatter = new Intl.DateTimeFormat('en-US', { 
      hourCycle: 'h24',
      timeStyle: 'short',
      timeZone: timezone
    });

    const dateFormatter = new Intl.DateTimeFormat('en-US', { 
      hourCycle: 'h24',
      dateStyle: 'medium',
      timeZone: timezone
    });
    const timezoneElement = document.querySelector(getId("name"))
    const timeElement = document.querySelector(getId("time"))
    const dateElement = document.querySelector(getId("date"))
    const offsetElement = document.querySelector(getId("offset"))
    timezoneElement.innerText = timezone;
    const clientNow = new Date();
    timeElement.innerText = timeFormatter.format(clientNow);
    dateElement.innerText = dateFormatter.format(clientNow);
    offsetElement.innerText = offset;
  }
</script>
